/* Reset básico*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Lexend", sans-serif;
  background-color: #f6f6f4;
  color: #333;
}

/*  NAV BAR*/

.nav-bar {
  background-color: #ffffffcc;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.4rem;
  letter-spacing: 2px;
}

