/* Reset básico*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Lexend", sans-serif;
  background-color: #f6f6f4;
  color: #333;
}

/*  NAV BAR*/

.nav-bar {
  background-color: #ffffffcc;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.4rem;
  letter-spacing: 2px;
}

.nav-lista {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-lista li a {
  text-decoration: none;
  color: #333;
  font-weight: 300;
}

.nav-lista li a:hover {
  text-decoration: underline;
}

/*  INICIO  */

.inicio {
  padding: 70px 10%;
  display: flex;
  gap: 40px;
  align-items: center;
}

.inicio-texto {
  width: 50%;
}

.inicio-texto h2 {
  font-size: 2.3rem;
  margin-bottom: 15px;
}

.inicio-texto p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.boton {
  text-decoration: none;
  background-color: #5b6926;
  color: white;
  padding: 10px 25px;
  border-radius: 20px;
}

.inicio-imagenes {
  width: 50%;
  height: 320px;
  display: flex;
  gap: 10px;
}

.inicio-imagenes img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  border: 15px solid palevioletred;
}

/* Galería*/

.galeria {
  padding: 70px 10%;
}

.galeria h3 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
}

.cards {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}


.card {
  width: 260px;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  border: 15px solid yellow;
  transition: transform 0.3s ease;
}
